.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background: var(--color-back);
}

.divHeader {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-header);
}

.imgHome {
  width: 60px;
  height: 60px;
}

.mainMaps {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: #000;
}

.imgMaps{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 6px;
  gap: 1.5rem;
  background-color: #b8b8b8;
}

.imgMapa{
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 6px;
}

.h1Itens{
font-size: larger;
}

/*Selector*/
.selectContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.selectContainer select {
  appearance: none;
  padding: 0.2rem 1.5rem;
  font-size: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.select {
  color: #333;
}


