.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-back);
}

.imgHome {
  width: 100%;
}

.divMenu {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background-color: #eeeeee;
}

.divMaps {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.7em 0.5rem;
  gap: 2.3rem;
  background-color: #eeeeee;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #808080;
  margin-bottom: 0.5rem;
}

.iconMaps {
  width: 40px;
  height: 40px;
}

.divBtMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1d22;
}

.divCoisaLinda{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.icon1{
  width: 44PX;
}

.icon2{
  width: 150px;
}

.btMenu{
  position: relative;
  width: 100%;
}

@media (max-width: 430px) {
}
