.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-back);
}

.imgHome {
  width: 100%;
}

.divMenu {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  background-color: #eeeeee;
}

.divMaps {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.7em 0.5rem;
  gap: 2.3rem;
  background-color: #eeeeee;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #808080;
  margin-bottom: 0.5rem;
}

.iconMaps {
  width: 40px;
  height: 40px;
}

.divBtMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1d22;
}

.divCoisaLinda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.pDesign{
  color: #fff;
}

.icon1 {
  width: 44px;
}

.icon2 {
  width: 150px;
}

.btMenu {
  position: relative;
  width: 100%;
}

.divDesktop {
  display: none;
}

@media (min-width: 551px) {
  .divDesktop {
    display: none;
  }

  .imgHome {
    display: none;
  }

  .divMenu {
    display: none;
  }

  .divBtMenu {
    display: none;
  }

  .divDesktop {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    background: #e5e5e5;
  }

  .h1Title {
    color: #1c1d22;
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .divMaps {
    padding: 0.7em 0.5rem;
    gap: 1.9rem;
  }
}

@media (max-width: 450px) {
  .divMaps {
    padding: 0.5em 0.4rem;
    gap: 1.7rem;
  }

  .iconMaps {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 400px) {
  .divMaps {
    padding: 0.5em 0.4rem;
    gap: 1.3rem;
  }

  .iconMaps {
    width: 30px;
    height: 30px;
  }

  .pText {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .divMaps {
    padding: 0.5em 0.4rem;
    gap: 1.3rem;
  }

  .pText {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .divMaps {
    padding: 0.5em 0.4rem;
    gap: 1.3rem;
  }

  .iconMaps {
    width: 25px;
    height: 25px;
  }

  .pText {
    font-size: 12px;
  }
}
